/**
    Import all fonts here...
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800);
@import 'https://fonts.googleapis.com/css?family=Raleway:500,600,700,800';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i);

@font-face {
  font-family: "Ionicons";
  src: url("../icons/fonts/ionicons.eot?v=2.0.0");
  src: url("../icons/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
    url("../icons/fonts/ionicons.ttf?v=2.0.0") format("truetype"),
    url("../icons/fonts/ionicons.woff?v=2.0.0") format("woff"),
    url("../icons/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'copperplateregular';
  src: url('../../fonts/copperplate_regular-webfont.woff2') format('woff2'),
    url('../../fonts/copperplate_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hoefler_textregular';
  src: url('../../fonts/hoefler_text_regular-webfont.woff2') format('woff2'),
    url('../../fonts/hoefler_text_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}