/**********back to top*************/
.scrollToTop {
  text-align: center;
  font-size: 30px;
  background: transparent;
  font-weight: bold;
  color: #4c779e;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999999;
  display: none;
  opacity: 0.5;
  line-height: 0px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scrollToTop:hover {
  text-decoration: none;
  opacity: 1;
  color: #43baa5;
}